<table class="table">
	<thead>
		<th>Titre</th>
		<th>Description</th>
		<th>Informations</th>
		<th>Actions</th>
	</thead>
	<% obj.each do |article| %>
		<tr>
			<td><%= link_to article.title, article_path(article)%></td>
			<td><%= truncate(article.description, length: 60)%></td>
			<td><small>Créé par <strong><%= article.user.username if article.user %></strong> 
				il y a <%= time_ago_in_words(article.created_at) %>, 
				dernière mise à jour il y a <%= time_ago_in_words(article.updated_at) %>.</td></small>
			<% if logged_in? && (current_user == article.user || current_user.admin?) %>
				<td><%= link_to "Éditer", edit_article_path(article), class: "btn btn-xs btn-primary" %></td>
				<td><%= button_to "Supprimer", article, method: :delete, class: "btn btn-xs btn-danger"%></td>
			<% end %>
		</tr>
	<% end %>
</table>