<h1>Listing de tous les articles</h1>

<p><%= link_to "Créer nouvel article", new_article_path %></p>
<table>
	<th>Titre</th>
	<th>Description</th>
	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title%></td>
			<td><%= article.description%></td>
			<td><%= link_to "Éditer", edit_article_path(article) %></td>
			<td><%= link_to "Afficher", article_path(article) %></td>
			<td><%= link_to "Supprimer", article, data: {"turbo-method": :delete } %></td>
		</tr>
	<% end %>
</table>