<div class="row">
	<div class="col-xs-offset-2 col-xs-10">
		<h2><%= @article.title %></h2>
		<div class="well col-xs-6">
			<%= @article.description %>
			<% if @article.user %>
			<div class="articles-actions">
					<%= gravatar_for @article.user, size: 50 %><br>
				<small>Article créé par <%= @article.user.username %></small>
			</div>
			<% end %>
			<div class="articles-actions">
			<% if logged_in? && current_user == @article.user %>
				<%= link_to "Éditer", edit_article_path(@article), class: "btn btn-xs btn-success" %>
				<%= button_to "Supprimer", article_path(@article), method: :delete, class: "btn btn-xs btn-danger" %>
			<% end %>
				<%= link_to "Retour", articles_path, class: "btn btn-xs btn-primary" %>
			</div>		
		</div>
	</div>
</div>